$navBarMargin: 10px;
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.rosterOptions {
    display: inline-block;
}

.navButton {
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #7b7b7b;
}

.navigationFlexbox {
    // position: sticky;
    // top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // gap: 25px;
    // background-image: url(/public/assets/Textures/steeltexture.jpg);
    background-size: cover;
    margin-bottom: $navBarMargin;
    white-space: nowrap;
    position: relative;
    flex-grow: 1;
    min-width: 0;
    z-index: 100;
    border-radius: 20px 20px 20px 20px;
    // width:100vw;
    // overflow-x: hidden;
}

.backgroundStripe {
    width: inherit;
    height: 70px;
    position: sticky;
    z-index: 1;
    background-size: 550px;
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-position-x: -70px;
    position: absolute;
    border-radius: 20px 20px 20px 20px;
}


.navLogo {
    position: absolute;
    width: 500px;
    // background-image: url(/public/assets/Textures/test.png);
}

.navLogo img{
    width: 500px;
    // background-image: url(/public/assets/Textures/test.png);
}


.innerFlexbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0px;
    flex-shrink: 1;
}

.innerFlexbox button {
    background-color: transparent;
    color: black;
    border: none;
    height: inherit;
    font-size: clamp(0.1rem, 5vw, 1rem);

}

.innerFlexbox button:hover {
    background-color: #d01840;
    color: white;
}

.sideLogo {
    font-weight: 900;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    justify-content: flex-end;
    margin-left: 5px;
     -webkit-text-stroke: 1px #d01840;
}

.dropDownNav {
    // width: 100vw;
    margin-top: -2px;
    font-size: 12px;
    position: relative;
    left: 0;
    z-index: 300000;
    gap: 0px;
    border: 2px #d01840 solid;
    background-color: #FFFFFF;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
    // background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/public/assets/Textures/grunge.jpg');

}

.linkButton {
    position: relative;
    background-color: #FFFFFF;
    z-index: 10;
}

.dropDownItem {
    // height:10vh;
    width: 100%;
    margin-bottom: 0px;
}

.moreButton {
    // position:absolute;
    height: inherit;
    width: 130px;
    border-radius: 0px 20px 20px 0px;
}

#isActiveButton.moreButton  {
    border-radius: 20px 20px 0px 0px;
}

#isActiveButton {
    background-color: #d01840;
    color: white;
}

#inactiveButton {
    background-color: transparent;
    color: black;
}

#inactiveButton:hover{
    background-color: #d01840;
    color: white;
}

@include media-breakpoint-up(md) {

.genderButton {
    background-color: transparent !important;
    color: black !important;
}

.genderButton:hover {
    background-color: #d01840 !important;
    color: white !important;
}
}

@include media-breakpoint-down(md) {

    .rosterOptions {
        display: flex;
        flex-direction: column;
    }
    
    .backgroundStripe {
        // margin-left: -4px;
        width: calc(100vw - 16px);
    }

    #inactiveButton:hover {
        background-color: transparent;
        color: black;
    }

    .genderButton {
    border-radius: 15px 15px 0 0;
    }

    .navContainer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}